__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
instance/
.webassets-cache
.scrapy
docs/_build/
.coverage
.ipynb_checkpoints
.pytest_cache
.mypy_cache
.DS_Store
Thumbs.db
static/generations/*
!static/generations/.gitkeep
.vs/
